#start-page, body, html {
    height: 100%;
}
body {
	margin:0;
}
  
.bg {
	animation:slide 3s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, #B9FFF8 50%, #FF9551 50%);
	bottom:0;
	left:-50%;
	opacity:.5;
	position:fixed;
	right:-50%;
	top:0;
	z-index:-1;
}
  
.bg2 {
	animation-direction:alternate-reverse;
	animation-duration:4s;
}

.bg3 {
	animation-duration:5s;
}

.game-title {
	font-size: 6rem;
	position: absolute;
	text-shadow: -15px 5px 20px #FEFBF6;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	letter-spacing: 0.02em;
	text-align: center;
	color: #FEFBF6;
	text-shadow: 5px 5px 0px #B9FFF8, 
		10px 10px 0px #6FEDD6, 
		15px 15px 0px  #FF9551, 
		20px 20px 0px #FF4A4A;
}

.start-btn {
	background-color: #FEFBF6;
	border-radius: 40px;
	color: #FF4A4A;
	border: none;
	width: 20vw;
	height: auto;
	font-size: 50px;
}

.start-btn:hover {
	background-color: #6FEDD6;
	color: #FEFBF6;
	box-shadow: 1px 49px 85px -29px rgba(0,0,0,0.75);
}

@keyframes slide {
	0% {
	  transform:translateX(-25%);
	}
	100% {
	  transform:translateX(25%);
	}
}
  