#start-page, body, html {
    height: 100vh;
}
body {
	margin:0;
}

.title-page {
	height: 80%;
}
  
body {
	height: 100vh;
	background: linear-gradient(90deg,#FF4A4A,#FF9551);
  
  }
  
.slider-thumb::before {
	position: absolute;
	content: "";
	left: 30%;
	top: 20%;
	width: 450px;
	height: 450px;
	background: #17141d;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 5s linear infinite;
}

@keyframes sliderShape{
	0%,100%{
	border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
	  transform: translate3d(0,0,0) rotateZ(0.01deg);
	}
	34%{
		border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
	  transform:  translate3d(0,5px,0) rotateZ(0.01deg);
	}
	50%{
	  transform: translate3d(0,0,0) rotateZ(0.01deg);
	}
	67%{
	  border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
	  transform: translate3d(0,-3px,0) rotateZ(0.01deg);
	}
}

.game-title {
	font-size: 6rem;
	position: absolute;
	text-shadow: -15px 5px 20px #FEFBF6;
	top: 35%;
	left: 50%;
	transform: translate(-50%,-50%);
	letter-spacing: 0.02em;
	text-align: center;
	color: #FEFBF6;
	text-shadow: 5px 5px 0px #B9FFF8, 
		10px 10px 0px #6FEDD6, 
		15px 15px 0px  #FF9551, 
		20px 20px 0px #FF4A4A;
}

.start-btn {
	background-color: #FEFBF6;
	border-radius: 40px;
	color: #FF4A4A;
	border: none;
	width: 20vw;
	height: auto;
	font-size: 50px;
}

.start-btn:hover {
	background-color: #6FEDD6;
	color: #FEFBF6;
	box-shadow: 1px 49px 85px -29px rgba(0,0,0,0.75);
}

  