#winner-page {
    height: 100vh;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
}
  
canvas#fallingLeavesCanvas {
    margin: 0;
    display: block;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    width: 50vw;
    height: 100vh;
}

.congrats {
    height: 85vh;
}